{
  "keys": [
    "sk-deepseek2api"
  ],
  "debug_mode": false,
  "auto_upload_token_threshold": 400000,
  "auto_upload_char_threshold_max": 700000,
  "auto_upload_char_threshold_min": 400000,
  "accounts": [
    {
      "email": "your-email@example.com",
      "password": "your-password",
      "token": ""
    }
  ]
}
